doctype html
html(lang='it')
    - var languages = [{'label':'IT', 'full':'Italiano'},{'label':'EN', 'full':'English'}];
    head
        - var title = "Donazioni per le vittime della crisi umanitaria in Ucraina - pagoPA";
        - var desc = "Fai una donazione alle organizzazioni umanitarie che assistono le vittime civili della crisi umanitaria in Ucraina. Puoi pagare con carta di credito, debito o prepagata, senza commissioni.";
        - var ogimg = "https://www.pagopa.gov.it/assets/images/favicons/donations-social-card.png";
        include includes/head.pug
        meta(robots="noindex, nofollow")
        link(href="scss/style.scss",rel="stylesheet")
        if process.env.IO_PAY_PORTAL_ENV=='PROD'
            script(src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js", type="text/javascript", charset="UTF-8", data-domain-script="c4394b6a-86ce-428c-a3d3-5b81cabbfed4")
        else 
            script(src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js", type="text/javascript", charset="UTF-8", data-domain-script="c4394b6a-86ce-428c-a3d3-5b81cabbfed4-test")
        script(src="../node_modules/promise-polyfill/dist/polyfill.min.js")
        script(src="../node_modules/whatwg-fetch/dist/fetch.umd.js")
        script(src="../node_modules/abort-controller/dist/abort-controller.umd.js")
        script(src="https://www.google.com/recaptcha/api.js?render=explicit&onload=onRecaptchaLoad", async, defer)
        script(src="env-config.js")
        script(src="dona.ts")
        include includes/favicons.pug
    body.page--index.donation
        .main-wrapper.d-flex.flex-column
            // HEADER
            include includes/header.pug
            .main.container
                .row.justify-content-md-center
                    div(id="error").d-none 
                    div(id="activationError").d-none 
                    div(id="initCard", tabindex="0").windowcont.px-4.px-md-0
                        h1.h3.d-flex(aria-hidden="true") A chi vuoi donare?
                            a.donation__edit.ml-auto.align-self-center.align-self-sm-end.reset-font-size(href="#", aria-label="Modifica destinatario della donazione", title="Modifica destinatario della donazione", tabindex="0", aria-hidden="true") Modifica
                        .firstindexform 
                            .donation__loading.py-2.d-flex.align-items-center
                                div.pr-3
                                    .progress-spinner.progress-spinner-double.progress-spinner-active
                                        .progress-spinner-inner
                                        .progress-spinner-inner
                                        .sr-only Caricamento...
                                div Stiamo caricando la lista delle organizzazioni
                            .donation__loading__error.d-none.py-2.align-items-center
                                div.pr-3
                                    img(src="/assets/icons/error.svg", data-hidden="true")
                                div Non siamo riusciti a caricare la lista delle organizzazioni.&nbsp;
                                    a.donation__loading__retry.font-weight-semibold(href="#", title="Riprova") Riprova
                            form.my-5(id="firstindexform", role="form", aria-label="A chi vuoi donare?", tabindex="0")
                                .my-2.donation__for.d-none
                                    .form-check.form-check-group.d-none(aria-hidden="true", data-template="donation-ente", role="list")
                                        div
                                            img.donation__for__item__logo(aria-hidden="true", src="", alt="Logo beneficiario")
                                        div.ml-2.flex-grow-1(role="listitem")
                                            input.donation__for__item(id="", name="donationFor" type="radio" aria-labelledby="" value="")
                                            label.donation__for__item__label.m-0(for="", tabindex="")
                                            small.donation__for__item__desc.form-text(id="")
                                            small.form-text.donation__for__item__url
                                                a(href="#url", title="Per saperne di più su ", aria-label="", target="_blank") Per saperne di più
                                hr(aria-hidden="true")
                                .my-2.donation__amount.disabled(aria-hidden="true", tabindex="2", role="region", aria-live="polite")
                                    h2.h3 Quanto vuoi donare?
                                    .donation__amount__disclaimer Scegli a chi donare per conoscere gli importi disponibili
                                    .it-list-wrapper
                                        ul.it-list.list-unstyled.row(role="list", tabindex="3")
                                            li.col-4.pt-2.d-none(data-template="donation-amount", data-depend="", role="list-item", aria-hidden="true")
                                                input.sr-only(id="", type="radio", aria-label="", name="donationAmount", data-amount="")
                                                label(for="",aria-hidden="true").btn.btn-outline-primary.w-100
                                    div.d-flex.align-items-center(role="alert")
                                        div.pr-2(aria-hidden="true")
                                            svg.float-right.icon-expand.icon.icon-sm.icon-secondary
                                                title Info
                                                use(href="/assets/icons/sprite.svg#it-info-circle")
                                        div Puoi donare con carta di credito, debito o prepagata, senza costi di commissione
                                    .donation__by.py-4
                                        .row
                                            .col-6 
                                                button.d-flex.align-items-center.justify-content-center.btn.btn-primary.btn-sm.w-100(disabled, id="donation_by_app") 
                                                    svg.icon.icon-sm.d-none.d-sm-block.mr-2(aria-hidden="true")
                                                        title IO app
                                                        use(href="/assets/icons/app.svg#appIO")
                                                    span.d-block.line-height-1 Dona con l'app IO 
                                            .col-6 
                                                button.d-flex.align-items-center.justify-content-center.btn.btn-primary.btn-sm.w-100(type="submit", data-lang="cta.continue", id="verify", disabled)
                                                    svg.icon.icon-sm.d-none.d-sm-block.mr-2(aria-hidden="true")
                                                        title Continua
                                                        use(href="/assets/icons/app.svg#creditcard--white")
                                                    span.d-block.line-height-1 Dona con carta 
                                    div Dopo la donazione, riceverai un'email con i dati utili ai fini della detrazione.
                                    hr(aria-hidden="true")
                                    .my-3.text-muted
                                        p.mb-0 Premendo 'Continua' dichiari di aver letto e compreso l'
                                            a(href="#", id="privacy") Informativa Privacy e i Termini e condizioni d’uso del servizio.
                                        p Form protetto tramite reCAPTCHA e Google (
                                            a(href="https://policies.google.com/privacy", target="_blank", title="Privacy Policy Google") Privacy Policy 
                                            span e 
                                            a(href="https://policies.google.com/terms", target="_blank", title="Termini e condizioni Google") Termini di servizio
                                            span ).
                                .windowcont__bottom
                                    .container
                                        .windowcont__bottom__wrap.d-flex
                                            div(id="recaptcha")
                    div(id="stateCard", tabindex="1", role="region", aria-live="polite").windowcont.px-4.px-md-0.d-none
                        .h2 Avviso di pagamento
                        p.reset-font-size.text-muted pagoPA aggiorna automaticamente l’importo per assicurarti di aver pagato esattamente quanto dovuto ed evitarti così more o altri interessi.
                        .stateCard__detail.check
                            .windowcont__totamount.d-flex.align-items-end.border-bottom.border-bottom-gray.py-2
                                .h5 Importo aggiornato
                                .h4.ml-auto(id="importo") 
                            .windowcont__ec.py-2.mt-2.border-bottom.border-bottom-gray.reset-font-size
                                div.text-muted Ente Creditore
                                div.font-weight-bold(id="ec") 
                            .windowcont__caus.py-2.mt-2.border-bottom.border-bottom-gray.reset-font-size
                                div.text-muted Causale
                                div.font-weight-bold.text-break(id="causale") 
                            .windowcont__cfec.py-2.mt-2.border-bottom.border-bottom-gray.reset-font-size.d-flex
                                div.text-muted Codice Fiscale Ente Creditore
                                div.font-weight-bold.ml-auto(id="cf-pa")
                            .windowcont__bottom
                                .container
                                    div(id="preActivationRecaptcha")
                                    .windowcont__bottom__wrap.d-flex
                                        a.btn.btn-outline-primary.btn-sm.mr-2(href="#", data-lang="cta.cancel", id="back") Indietro
                                        button.btn.btn-primary.btn-sm.flex-grow-1(type="submit", data-lang="cta.continue", id="active") Paga questo avviso

            // FOOTER
            include includes/footer.pug
            include includes/modal.pug
            include includes/modalerror.pug
            include includes/modalqrcode.pug